body {
  background-image: url(../images/BACKGROUND.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 97vh;
  width: 90vw;
  margin: 0;
}

.box{
    width: 400px;
    height: 300px;
    box-shadow: 1.5px 1.5px 5px;
    color: #222; 
    background-color: white;
    justify-content: center;
position: absolute;
left: 477px;
top: 100px;
border-radius: 20px;
padding-top: 50px;

}
form{
    justify-content: center;
    text-align: center;
    margin: 10px;
}
label{
    font-size: 25px;
    font: bold;
    position: relative;
    left: -90px;
    text-align: left;
    margin: 12px;

}
input{
    font-size: 22px;
    width: 305px;
    height: 50px;
    border-radius: 12px;

}
.main{
    position: absolute;
top: 470px;
left: 650px;
align-items: center;
text-align: center;

}
button{
text-align: center;
width: 110px;
height: 50px;
border-radius: 40px;
color: white;
background-color: blue;

}
h1{
    
    padding-left: 12px;
}
.material-symbols-outlined{
    position:  relative;
    right: 45px;
}
hr {
    border: 0.3px solid #f1eaea;
    width: 150px;
    top: 280px;
    border: 0.3px 0px 0px 0px;
    margin-left: 15px;
  }