*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: white;
    border-radius: 0%;
}

h1{
    color: gray;
    padding: 10px;
}

.box1{
    height: 850px;
    width: 1550px;
    background-color:blanchedalmond;
    margin: 50px;
    padding: 40px;
    right: 100px;
}

.box2{
    height: 799px;
    width: 500px;
    background-color:rgb(26, 26, 184);
    margin: 10px;
    
}

.box3{
    height: 50px;
    width: 400px;
    background-color: white;
    position: absolute;
    left: 200px;
    bottom: 600px;
}

.box3 img{
    width: 365px;
    height: 300px;
    margin-top: 100px;
    margin-left: -30px;
}

.box4{
    height: 650px;
    width: 900px;
    background-color:white;
    margin: +395px;
    position:absolute;
    top:-395px;
}

.box4 h2{
    text-align: right;
    margin: 30px;
    color: blue;
}

.box4 h3{
    text-align: center;
    margin: 30px;
    font-size: 30px;
}

.box4 p{
    text-align: center;
    margin: 30px;
    color:black;
    font-size: 15px;
}

.box4 h4 {
        text-align: center;}

.box4 button{
    text-align: center;
    padding: 15px;
    margin: +40px;
    padding-right:+200px;
    position: absolute;
}

.reset{
    text-align: center;
}

.exam{
    text-align: center;
    width: 500px;
}

.exam h4{
    right: 800px;
}