nav h1{
    float: left;
    line-height: 80px;
    font-size: 35px;
    font-size: inline;
   
 }
 nav ul{
    float:right;
    line-height: 80px;
 } 
 nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0px 5px;
 }
 nav ul li{
   text-decoration: none;
   text-transform: uppercase;
   border-radius: 5px;
   padding: 7px 8px;
}
.active{
   background-color: blue;
   color: white;
   padding: 10px;
   text-decoration: none;
   border-radius: 30px;
}
.article{
   color: blue;
   text-decoration: none;
}
.align{
   color: black;
   text-decoration: none;
}
.alig{
   color: black;
   text-decoration: none;
}
.image{
   width: 20px;
}
.clas{
   display: flex;
   width: 100%;
   height: 600px;
   
}
 .class{
   width: 40%;
 }
 .fon{
   font-size: 45px;
   color: white;
 }
 .font{
   position: absolute;
   padding-top: 80px;
   color: white;
   padding-bottom: 100px;
   position: absolute;
   left: 150px;
   top: 250px;
 }
 .but{
   font-size: 20px;
   background-color: blue;
   color: white;
   border-radius: 30px;
   padding: 10px;
   text-decoration: none;
 }
 .flex{
   display: flex;
   justify-content: space-around;
   padding: 30px;
   background-color: antiquewhite;
   padding-bottom: 20px;
   padding-top: 80px;
   
 }
 .fle{
   display: flex;
justify-content: space-around;
padding-bottom: 10px;
background-color: antiquewhite;
 }
 .flexe{
   display: flex;
justify-content: space-around; 
padding-left: 70px;
background-color: rgb(252, 238, 220);

 }
.redu{
   background-image: url(/assets/images/backgound.jpg);
   width: 100%;
   height: 800px;

}
.works{
   text-align: center;
   font-size: 25px;
   color: white;
   padding: 10px;
}
.text-align{
display: flex;
justify-content:space-around ;
padding-top: 50px;
padding-bottom: 50px;
background-color: white;

}
.box8{
      box-sizing: border-box;
      border-radius: 20px;
      background-color: white;
      padding: 20px;
      height: 500px;
      padding-top: 20px;
      text-align: center;
      position: relative;
      margin-bottom: 100px;
      margin-top: 100px;
      box-shadow: 0.5px 0.5px 7px;
   }

.access{
   display: flex;
   justify-content: space-around;
}
.box7{
   box-sizing: border-box;
   background-color: white;
   
   
}
.box7{
   background-color: antiquewhite;
   position: relative;
   height: 40px;
   padding-top: 0px;
   width: 170px;
   padding: 5px;

}
.justify{
   display: flex;
   justify-content:space-around ;
   padding-top: 10px;
   color: white;
   font-size: 20px;
}

.absolute{
   position: relative;
   float: right;
   bottom: 150px;
   padding-left: 50px;
   right:  80px;
}
.blue{
   color: rgb(37, 37, 250);
   padding-bottom: 30px;
}
.save{
   font-size: 20px;
}
.color{
   background-color: rgb(5, 5, 90);
   padding-left: 5px;
}
.patner{
   color: rgb(12, 12, 155);
   font-size: 30px;
   text-align: center;
   padding-top: 100px;
   
}
.stocka{ 
   font-size: 45px;
color: white;
padding-left: 30px;
position: relative;
top: 60px;
text-decoration: underline;
}
.box6{
   box-sizing: border-box;
   border-radius: 20px;
   background-color: white;
   padding: 20px;
   height: 500px;
   padding-top: 20px;
   text-align: center;
   position: relative;
   margin-bottom: 180px;
   margin-top: 180px;
   box-shadow: 0.5px 0.5px 7px;
  
}
.box5{
   box-sizing: border-box;
   border-radius: 20px;
   background-color: white;
   padding: 20px;
   text-align: center;
   position: relative;
   margin-bottom: 180px;
   margin-top: 180px;
   box-shadow: 0.5px 0.5px 7px;
  
}
.box9{
   display: flex;
   justify-content: space-evenly;
   background-color: antiquewhite;
   
  
}
.backg{
   background-color: antiquewhite;
}
.create{
   font-size: 20px;
   background-color: rgb(8, 8, 175);
   color:white;
   padding: 15px;
   border-radius: 30px;
}
.creat{
   font-size: 20px;
   background-color:rgb(206, 201, 201);
   padding: 15px;
   border-radius: 30px;
}
.style{
   width: 100%;
}