header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
  padding-left: 25px;
}

/* Sidebar styling */
.sidebar {
  height: 911px;
  width: 240px;
  background: #093e9c;
  margin: 25px 25px;
  color: white;
}

.sidebar .sidebar-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: white;
}

.sidebar-form {
  padding: 20px;
}

.sidebar-form .sidebar-form-header {
  color: white;
}

.form-data {
  margin-top: 16px;
}

.form-data div input {
  width: 170px;
  height: 40px;
  border: 1px solid #1a1a1a33;
  padding-left: 20px;
  margin-top: 8px;
}

.inventory-div {
  padding-top: 16px;
  display: flex;
  gap: 64px;
}

.inventory-div div .from input {
  width: 40px;
}

.form-states {
  margin-top: 16px;
}

.form-states div {
  display: flex;
  gap: 4px;
  margin-top: 4px;
}

.form-states div label {
  margin-top: 4px;
}

.apply-btn {
  margin-top: 16px;
  width: 100%;
  border: none;
  outline: none;
  height: 52px;
  border-radius: 25px;
  padding: 16px 48px 16px 48px;
  background: white;
  font-weight: 600;
  cursor: pointer;
}

.reset-btn {
  margin-top: 16px;
  width: 100%;
  border: none;
  outline: none;
  height: 52px;
  border-radius: 25px;
  padding: 16px 48px 16px 48px;
  background: #093e9c;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

/* Table Styling */
main {
  display: flex;
  gap: 16px;
}

.product {
  width: 1126px;
  margin-top: 16px;
}

.add-btn {
  width: 112px;
  height: 32px;
  background: white;
  color: #093e9c;
  border: 1px solid #093e9c;
  border-radius: 15px;
}

.add-product-btn {
  width: 112px;
  height: 32px;
  background: #093e9c;
  color: white;
  border: none;
  outline: none;
  border-radius: 15px;
}

.product-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-nav-content-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.product-nav-content-2 {
  display: flex;
  gap: 20px;
}

.table-section {
  width: 100%;
}

.table-section table {
  width: 100%;
  height: 200px;
}

.table-section table th {
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid #1a1a1a33;
}

.table-section table td {
  row-gap: 80px;
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid #1a1a1a33;
}