*{
    margin: 2px;
    padding: 0px;
   

}
section{
    background-image: url(../images/Rectangle\ 70.png);
    width: 493px;
    height: 864px;
    left: -35px;
    gap: 0px;
    opacity: 0px;
}
.box{
    width: 847px;
   height: 864px;
  background-color:  white;
  position: absolute;
 top: 3px;
  left: 500px; 

}
.centertext{
    text-align: center;
    padding-top: 60px;
    font-size: 20px;
}
button{
    width: Hug (265px)px;
    height: Hug (52px)px;
    padding: 16px 48px 16px 48px;
    border-radius: 25px;  
    border: none;
    color: white;
    background-color: blue;
    align-items: center;   
}
button{
    margin: 40px;
}
.information{
    margin-left: 270px;
    padding-top: 70px;

}

p{
    text-align: center;
    font-size: 20x;
    padding-bottom: 28px;
    padding-top: 20px;
}
hr{
    height: 3px;
    background-color: white;
    width: 112px;
}
h2{
    padding-left: 150px;
}
.text-center{
   padding-left: 10px;
}
h3{
    margin-left: 170px;
    font-size: 12px;
}
